<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="duplex" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62399/AskService.svc" binding="wsDualHttpBinding"
                bindingConfiguration="duplex" contract="ServiceReference1.IAskService"
                name="duplex">
                <identity>
                    <userPrincipalName value="Andrei_Egorov1@saratov.epam.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>